@media screen and (max-width: 768px) {

  body {
    background: url(/images/background_mobile.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }



  .container_menu #menu {
    display: none;
    position: absolute;
    top: 100px;
    right: 200px;
    background-color: #000000;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
  }

  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #menu ul li {
    padding: 10px;
    text-align: center;
  }

  #menu.open {
    display: block;
    z-index: 1000;
  }

  #menu ul li a {
    text-decoration: none;
  }

  #logo {
    width: 100px;
    margin-left: 60px;
  }

  .titulo {
    color: #fff;
    text-align: center;
  }

  .container_menu {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .container_menu #menu_hamburguer {
    display: block;
    margin-left: 1em;
    cursor: pointer;
  }

  #historia .container p {
    display: flex;
    margin: 30px;
    text-align: start;
    line-height: 1em;
    color: #fff;
  }

  #historia .container p {
    padding: 2em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 20px;
    text-align: center;
  }

  #historia .container .ceo_arena {
    color: #fff;
  }

  #historia .container .fachada_arena {
    display: block;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }

  #historia .container .familia_arena {
    display: block;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }

  #banners {
    display: none;
  }

  .subtitulo_reserva {
    padding: 1rem;
    text-align: center;
  }

  #reserva .container p {
    padding: 1rem;
    text-align: center;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .dentro_arena {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-top: 30px;
    margin-left: 50px;
  }

  .dentro_arena img {
    margin: 0;
  }

  .owl-carousel {
    display: none !important;
  }

  #localizacao .container iframe {
    width: 90%;
  }

  .subtitulo_localizacao {
    width: 400px;
    text-align: center;
  }


}